[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]

requests = "*"
"beautifulsoup4" = "*"
django = "*"
"dj-database-url" = "*"
gevent = "*"
gunicorn = "*"
"psycopg2" = "*"
whitenoise = "*"
djangorestframework = "*"
markdown = "*"
"django-filter" = "*"
"django-cors-headers" = "*"
"django-environ" = "*"
ipython = "*"
celery = {extras = ["redis"]}

[dev-packages]